{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": ["transform-es2015-destructuring", "transform-object-rest-spread", "transform-async-to-generator", ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]]
}
